
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Front.cshtml";
}

<div id="rev_slider_4_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container slide-overlay" data-alias="classic4export" data-source="gallery">
    <!-- START REVOLUTION SLIDER 5.4.8 auto mode -->
    <div id="rev_slider_4_2" class="rev_slider fullwidthabanner" data-version="5.4.8.2">
        <ul>
            <li data-index="rs-8" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <img src="images/slides/slider-mainbg-003.jpg" alt="" title="mainslider-bg004" width="1918" height="710" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <div class="tp-caption slide-main-text shape-rectangle tp-resizeme" id="slide-8-layer-2" data-x="['left','left','center','center']" data-hoffset="['50','40','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-164','-163','-141','-107']"
                     data-fontsize="['12','12','12','10']"
                     data-lineheight="['12','12','12','10']"
                     data-fontweight="['400','400','400','400']"
                     data-letterspacing="['2','2','1','1']"
                     data-color="['rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":80,"split":"chars","splitdelay":0.05,"speed":350,"split_direction":"forward","frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textalign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[15,15,10,8]"
                     data-paddingright="[20,20,15,18]"
                     data-paddingbottom="[15,15,10,8]"
                     data-paddingleft="[20,20,15,18]">
                    LED BY PASSIONATE EXPERTS
                </div>

                <div class="tp-caption slide-main-text tp-resizeme" id="slide-8-layer-8" data-x="['left','left','center','center']" data-hoffset="['50','40','0','0']" data-y="['top','top','top','middle']" data-voffset="['222','195','109','-60']"
                     data-fontsize="['75','75','65','40']"
                     data-lineheight="['75','75','65','40']"
                     data-fontweight="['600','600','600','600']"
                     data-color="['rgb(0, 46, 58)','rgb(0, 46, 58)','rgb(0, 46, 58)','rgb(0, 46, 58)']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":300,"speed":800,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textalign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]">
                    A Medical Care
                </div>
                <div class="tp-caption slide-main-text tp-resizeme" id="slide-8-layer-9" data-x="['left','left','center','center']" data-hoffset="['50','40','0','0']" data-y="['top','top','top','top']" data-voffset="['295','271','170','134']"
                     data-fontsize="['75','75','65','40']"
                     data-lineheight="['75','75','75','50']"
                     data-fontweight="['600','600','600','600']"
                     data-color="['rgb(0, 46, 58)','rgb(0, 46, 58)','rgb(0, 46, 58)','rgb(0, 46, 58)']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":520,"speed":800,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textalign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]">
                    You Can Always Trust!
                </div>
                <div class="tp-caption slide-desc-text tp-resizeme" id="slide-8-layer-10" data-x="['left','left','center','left']" data-hoffset="['50','40','-664','-579']" data-y="['top','top','top','top']" data-voffset="['386','362','214','233']"
                     data-fontsize="['17','17','15','15']"
                     data-lineheight="['27','27','25','25']"
                     data-fontweight="['400','400','400','400']"
                     data-color="['rgb(89, 102, 105)','rgb(89, 102, 105)','rgb(89, 102, 105)','rgb(89, 102, 105)']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','off','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":810,"speed":600,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textalign="['inherit','inherit','center','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]">
                    I realized that becoming a doctor, I can only help a small community. But by<br> becoming a doctor, I can help my whole country.
                </div>
                <a class="tp-caption dark-flatborder-button tp-resizeme" href="#" target="_self" id="slide-8-layer-14" data-x="['left','left','center','center']" data-hoffset="['50','41','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['151','151','70','52']"
                   data-fontsize="['13','13','13','11']"
                   data-lineheight="['13','13','13','11']"
                   data-letterspacing="['1','1','0','0']"
                   data-fontweight="700"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-type="text"
                   data-actions=''
                   data-responsive_offset="on"
                   data-frames='[{"delay":1090,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(0,46,58);bc:rgb(32,41,47);br:0px 0px 0px 0px;"}]'
                   data-textalign="['inherit','inherit','inherit','inherit']"
                   data-paddingtop="[19,19,19,15]"
                   data-paddingright="[30,30,30,25]"
                   data-paddingbottom="[19,19,19,15]"
                   data-paddingleft="[30,30,30,25]">
                    VIEW MORE DETAILS
                </a>
                <a class="tp-caption skin-flat-button tp-resizeme" href="#" target="_self" id="slide-8-layer-15" data-x="['left','left','center','center']" data-hoffset="['278','251','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['151','151','142','112']"
                   data-fontsize="['13','13','13','11']"
                   data-lineheight="['19','19','19','16']"
                   data-letterspacing="['1','1','0','0']"
                   data-fontweight="700"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-type="text"
                   data-actions=''
                   data-responsive_offset="on"
                   data-frames='[{"delay":1190,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(0,46,58);br:0px 0px 0px 0px;"}]'
                   data-textalign="['inherit','inherit','inherit','inherit']"
                   data-paddingtop="[17,17,17,15]"
                   data-paddingright="[30,30,23,25]"
                   data-paddingbottom="[17,17,17,15]"
                   data-paddingleft="[30,30,23,25]">
                    MAKE AN APPOINTMENT!
                </a>
            </li>
            <li data-index="rs-17" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <img src="images/slides/slider-mainbg-004.jpg" alt="" title="mainslider-bg003" width="1918" height="710" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <div class="tp-caption slide-main-text shape-rectangle tp-resizeme" id="slide-17-layer-2" data-x="['left','left','center','center']" data-hoffset="['50','40','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-164','-163','-141','-107']"
                     data-fontsize="['12','12','12','10']"
                     data-lineheight="['12','12','12','10']"
                     data-letterspacing="['2','2','1','1']"
                     data-fontweight="['400','400','400','400']"
                     data-color="['rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":10,"split":"chars","splitdelay":0.05,"speed":350,"split_direction":"forward","frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textalign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[15,15,10,8]"
                     data-paddingright="[20,20,15,18]"
                     data-paddingbottom="[15,15,10,8]"
                     data-paddingleft="[20,20,15,18]">
                    LED BY PASSIONATE EXPERTS
                </div>
                <div class="tp-caption slide-main-text tp-resizeme" id="slide-17-layer-8" data-x="['left','left','center','center']" data-hoffset="['50','40','0','0']" data-y="['top','top','top','middle']" data-voffset="['222','195','109','-60']"
                     data-fontsize="['75','75','65','40']"
                     data-lineheight="['75','75','65','40']"
                     data-fontweight="['600','600','600','600']"
                     data-color="['rgb(0, 46, 58)','rgb(0, 46, 58)','rgb(0, 46, 58)','rgb(0, 46, 58)']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":300,"speed":800,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textalign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]">
                    Committed To
                </div>
                <div class="tp-caption slide-main-text tp-resizeme" id="slide-17-layer-9" data-x="['left','left','center','center']" data-hoffset="['50','40','0','0']" data-y="['top','top','top','top']" data-voffset="['295','271','170','134']"
                     data-fontsize="['75','75','65','40']"
                     data-lineheight="['75','75','75','50']"
                     data-fontweight="['600','600','600','600']"
                     data-color="['rgb(0, 46, 58)','rgb(0, 46, 58)','rgb(0, 46, 58)','rgb(0, 46, 58)']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":520,"speed":800,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textalign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]">
                    Trusted Health Care
                </div>
                <div class="tp-caption slide-desc-text tp-resizeme" id="slide-17-layer-10" data-x="['left','left','center','left']" data-hoffset="['50','40','-664','-579']" data-y="['top','top','top','top']" data-voffset="['386','362','214','233']"
                     data-fontsize="['17','17','15','15']"
                     data-lineheight="['27','27','25','25']"
                     data-fontweight="['400','400','400','400']"
                     data-color="['rgb(89, 102, 105)','rgb(89, 102, 105)','rgb(89, 102, 105)','rgb(89, 102, 105)']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','off','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":810,"speed":600,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textalign="['inherit','inherit','center','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]">
                    I realized that becoming a doctor, I can only help a small community. But by<br> becoming a doctor, I can help my whole country.
                </div>
                <a class="tp-caption dark-flatborder-button" href="#" target="_self" id="slide-17-layer-14" data-x="['left','left','center','center']" data-hoffset="['50','41','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['151','151','60','52']"
                   data-fontsize="['13','13','13','11']"
                   data-lineheight="['13','13','13','11']"
                   data-fontweight="700"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-type="text"
                   data-actions=''
                   data-responsive_offset="on"
                   data-frames='[{"delay":1090,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                   data-textalign="['inherit','inherit','inherit','inherit']"
                   data-paddingtop="[19,19,19,15]"
                   data-paddingright="[30,30,30,25]"
                   data-paddingbottom="[19,19,19,15]"
                   data-paddingleft="[30,30,30,25]">
                    VIEW MORE DETAILS
                </a>
                <a class="tp-caption shape-round ttm-video-icon ttm_prettyphoto" href="https://youtu.be/e13TGGccvT4" target="_self" id="slide-17-layer-15" data-x="['left','left','center','center']" data-hoffset="['289','251','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['151','151','126','112']"
                   data-fontsize="['18','18','15','15']"
                   data-lineheight="['58','58','50','50']"
                   data-letterspacing="['0','0','1','1']"
                   data-color="['rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)']"
                   data-width="['58','58','50','50']"
                   data-height="['58','58','50','50']"
                   data-whitespace="nowrap"
                   data-type="text"
                   data-actions=''
                   data-responsive_offset="on"
                   data-frames='[{"delay":1190,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                   data-textalign="['center','center','center','center']"
                   data-paddingtop="[,,,]"
                   data-paddingright="[,,,]"
                   data-paddingbottom="[,,,]"
                   data-paddingleft="[,,,]">
                    <i class="fa fa-play"></i>
                </a>
                <div class="tp-caption tp-resizeme" id="slide-17-layer-17" data-x="['left','left','center','center']" data-hoffset="['358','321','0','-396']" data-y="['middle','middle','middle','middle']" data-voffset="['151','151','164','133']"
                     data-fontsize="['13','13','13','13']"
                     data-lineheight="['13','13','13','13']"
                     data-letterspacing="['1','1','1','1']"
                     data-fontweight="['700','700','700','700']"
                     data-color="['rgb(0, 46, 58)','rgb(0, 46, 58)','rgb(0, 46, 58)','rgb(0, 46, 58)']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1190,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textalign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]">
                    HOW WE WORK
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- END REVOLUTION SLIDER -->
<!--site-main start-->
<div class="site-main">
    <!--row-top-section-->
    <section class="ttm-row row-top-section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mt_60 res-991-mt-50">
                        <div class="row ttm-bgcolor-white ttm-box-seperator box-shadow">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <!-- featured-icon-box -->
                                <div class="featured-icon-box top-icon featured-icon-hover text-center">
                                    <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                        <i class="themifyicon ti-bookmark-alt"></i>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Practicals</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Our Delmont hospital utilizes state-of-the-art technology and employs a team of true experts.</p>
                                            <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline mb-15" href="#">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 box-shadow">
                                <!-- featured-icon-box -->
                                <div class="featured-icon-box top-icon featured-icon-hover text-center">
                                    <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                        <i class="themifyicon ti-blackboard"></i>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Lectures</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Our Delmont hospital utilizes state-of-the-art technology and employs a team of true experts.</p>
                                            <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline mb-15" href="#">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <!-- featured-icon-box -->
                                <div class="featured-icon-box top-icon featured-icon-hover text-center">
                                    <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                        <i class="themifyicon ti-user"></i>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Seminars</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Our Delmont hospital utilizes state-of-the-art technology and employs a team of true experts.</p>
                                            <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline mb-15" href="#">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!-- row-top-section end -->
    <!--introduction-section-->
    <section class="ttm-row introduction-section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <!-- col-bg-img-two -->
                    <div class="col-bg-img-two ttm-col-bgimage-yes ttm-bg res-991-ptb-200 ttm-reset-content-center-991">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                        <div class="layer-content">
                            <div class="ttm-video-icon ttm-left-video-icon text-right mt_30 mr_40 res-991-m-0">
                                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-background-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded">
                                    <i class="fa fa-play"></i>
                                </div>
                            </div>
                        </div>
                    </div><!-- col-bg-img-two end-->
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="pl-60 pb-20 res-991-pl-0 res-991-pt-40 res-991-pb-0">
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header">
                                <h5>INTRODUCING</h5>
                                <h2 class="title">Tackle the challenge of delivering health care</h2>
                            </div>
                        </div><!-- section title end -->
                        <div class="mb-30 clearfix">
                            <p>We provide the most full medical services, so every person could have the opportunity to receive qualitative medical help.</p>
                            <p>Our Clinic has grown to provide a world class facility for the treatment of tooth loss, dental cosmetics and bore advanced restorative dentistry. We are among the most qualified implant providers in the AUS with over 30 years of quality training and experience.</p>
                        </div>
                        <div class="ttm_sign_image-wrapper mb-25 res-991-mb-0">
                            <img src="images/dr-sign.png" alt="ttm_single_image-wrapper">
                        </div>
                        <div class="sep_holder_box pt-25 mb-45 res-991-mb-20">
                            <span class="sep_holder"><span class="sep_line"></span></span>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box left-icon icon-box-heading-only">
                                    <div class="featured-icon ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Online Appointment!</h5>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box left-icon icon-box-heading-only">
                                    <div class="featured-icon ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Available at Your Location</h5>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box left-icon icon-box-heading-only">
                                    <div class="featured-icon ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Work Improvements</h5>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--introduction-section end-->
    <!--quality-services-section-->
    <div class="ttm-row quality-services-section ttm-bgcolor-grey clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 col-md-12">
                    <!-- section-title -->
                    <div class="section-title with-desc text-center clearfix">
                        <div class="title-header">
                            <h5>OUR SERVICES</h5>
                            <h2 class="title">Special High-quality Services</h2>
                        </div>
                        <div class="title-desc">Since its founding Delmont has been providing its patients with the full medical care, encompassing outpatients services, is neurology, laboratory, imaging diagnostics and more.</div>
                    </div><!-- section-title end -->
                </div>
                <div class="col-lg-2"></div>
            </div><!-- row end -->
            <div class="row">
                <div class="col-md-4">
                    <!--featured-imagebox-->
                    <div class="featured-imagebox ttm-box-view-top-image box-shadow res-991-mb-30">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="images/services/01.jpg" alt="">
                        </div>
                        <div class="featured-content featured-content-bottom">
                            <div class="featured-title">
                                <h5><a href="single-blog.html">Psychiatry</a></h5>
                            </div>
                            <div class="featured-desc">
                                <p>Our Cardiology hospital utilizes state-of-the-art technology and employs a team of true experts.</p>
                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline mb-5" href="#">READ MORE</a>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
                <div class="col-md-4">
                    <!--featured-imagebox-->
                    <div class="featured-imagebox ttm-box-view-top-image box-shadow res-991-mb-30">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="images/services/02.jpg" alt="">
                        </div>
                        <div class="featured-content featured-content-bottom">
                            <div class="featured-title">
                                <h5><a href="single-blog.html">Cardiology</a></h5>
                            </div>
                            <div class="featured-desc">
                                <p>Our Cardiology hospital utilizes state-of-the-art technology and employs a team of true experts.</p>
                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline mb-5" href="#">READ MORE</a>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
                <div class="col-md-4">
                    <!--featured-imagebox-->
                    <div class="featured-imagebox ttm-box-view-top-image box-shadow res-991-mb-30">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="images/services/03.jpg" alt="">
                        </div>
                        <div class="featured-content featured-content-bottom">
                            <div class="featured-title">
                                <h5><a href="single-blog.html">Immunology</a></h5>
                            </div>
                            <div class="featured-desc">
                                <p>Our nurology hospital utilizes state-of-the-art technology and employs a team of true experts.</p>
                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline mb-5" href="#">READ MORE</a>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="mt-50 text-center res-991-mt-0">
                        <strong>Don’t hesitate, contact us for better help and services. <span class="ttm-textcolor-darkgrey"><u>Explore all Dr. Team</u></span></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--quality-services-section end-->
    <!--action-section-->
    @*<section class="ttm-row action-section bg-img5 ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="action-box text-center">
                        <h4 class="ttm-textcolor-skincolor font-weight-normal">Need a Doctor for Check-up?</h4>
                        <div class="mb-20">
                            <h1 class="ttm-textcolor-white">Just make an Appointment & You’re Done!</h1>
                        </div>
                        <h3 class="ttm-textcolor-white font-weight-normal">Get Your Quote or Call: (0080) 123-453-789</h3>
                        <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor mt-30" href="#">GET AN APPOINTMENT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!--action-section end-->
    <!--portfolio-section-->
   
    <!-- multi-section end -->
</div>

