
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Boldman Infostack &raquo; Comments Feed HTML Template" />
    <meta name="author" content="https://www.themetechmount.com/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Delmont &#8211; Medical, Health and Hospital Html Template</title>
    <!-- favicon icon -->
    <link rel="shortcut icon" href="~/Front/images/favicon.png" />
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/Front/css/bootstrap.min.css" />
    <!-- animate -->
    <link rel="stylesheet" type="text/css" href="~/Front/css/animate.css" />
    <!-- owl-carousel -->
    <link rel="stylesheet" type="text/css" href="~/Front/css/owl.carousel.css">
    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="~/Front/css/font-awesome.css" />
    <!-- themify -->
    <link rel="stylesheet" type="text/css" href="~/Front/css/themify-icons.css" />
    <!-- flaticon -->
    <link rel="stylesheet" type="text/css" href="~/Front/css/flaticon.css" />

    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Front/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/Front/revolution/css/settings.css">
    <!-- prettyphoto -->
    <link rel="stylesheet" type="text/css" href="~/Front/css/prettyPhoto.css">
    <!-- twentytwenty -->
    <link rel="stylesheet" type="text/css" href="~/Front/css/twentytwenty.css" />
    <!-- shortcodes -->
    <link rel="stylesheet" type="text/css" href="~/Front/css/shortcodes.css" />
    <!-- main -->
    <link rel="stylesheet" type="text/css" href="~/Front/css/main.css" />
    <!-- responsive -->
    <link rel="stylesheet" type="text/css" href="~/Front/css/responsive.css" />
</head>
<body>

    <!-- preloader start -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- preloader end -->
    <!--header start-->
    <header id="masthead" class="header ttm-header-style-classicinfo">
        <!-- ttm-fbar-main-w -->
        <div class="ttm-fbar-main-w ttm-fbar-position-right">
            <div class="ttm-fbar-box-w ttm-textcolor-white ttm-bgcolor-darkgrey ttm-bg ttm-bgimage-yes">
                <span class="ttm-fbar-btn">
                    <a href="javascript:void(0)" class="ttm-fbar-btn-link">
                        <span class="ttm-fbar-open-icon"><i class="fa fa-bars"></i></span>
                        <span class="ttm-fbar-close-icon"><i class="fa fa-times"></i></span>
                    </a>
                </span>
                <div class="ttm-fbar-bg-layer ttm-bg-layer"></div>
                <!-- ttm-fbar-content-wrapper -->
                <div class="ttm-fbar-content-wrapper">
                    <div class="ttm-fbar-box">
                        <!-- ttm_widget_team_search-2 -->
                        <aside id="ttm_widget_team_search-2" class="widget-even widget-4 widget ttm_widget_team_search">
                            <div class="team-search-form-w">
                                <form method="get" class="team-search-form " action="#">
                                    <div class="ttm-team-search-title">
                                        <h2>Doctors Search:</h2>
                                    </div>
                                    <div class="team-search-form-before-text">We provide the most full medical services, so every person could have the opportunity</div>
                                    <div class="ttm-fbar-input">
                                        <div class="search_field by_name">
                                            <i class="fa fa-user-md"></i><input type="text" placeholder="Search By Name" name="s" value="">
                                        </div>
                                    </div>
                                    <div class="ttm-fbar-input">
                                        <div class="search_field selectbox">
                                            <i class="fa fa-tags"></i>
                                            <select name="team_group" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                                                <option value="" class="select-empty">All Sections</option>
                                                <option value="dental">Dental</option>
                                                <option value="dermatologist">Dermatologist</option>
                                                <option value="health-care">Health Care</option>
                                                <option value="ophthalmology">Ophthalmology</option>
                                                <option value="psychological">Psychological</option>
                                                <option value="surgery">Surgery</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="submit_field"><button type="submit">Search</button></div>
                                </form>
                            </div>
                        </aside><!-- ttm_widget_team_search-2 end -->
                        <!-- enhanced-text-widget -->
                        <aside id="enhancedtextwidget-10" class="widget-odd widget-5 widget widget_text enhanced-text-widget">
                            <h3 class="widget-title">Opening Hours:</h3>
                            <div class="textwidget widget-text">
                                These are our normal opening hours. When we are closed can be found here.<br>
                                <div class="ttm-pricelistbox-wrapper ">
                                    <ul class="ttm-pricelist-block">
                                        <li>Monday - Saturday<span class="service-price">8.30 – 17.00</span></li>
                                        <li>Sunday<span class="service-price"><strong>Closed</strong></span></li>
                                    </ul>
                                </div>
                            </div>
                        </aside><!-- enhanced-text-widget end -->
                        <!-- enhanced-text-widget -->
                        <aside id="enhancedtextwidget-11" class="widget-even widget-6 widget widget_text enhanced-text-widget">
                            <div class="textwidget widget-text">
                                <div class="featured-icon-box left-icon icon-align-top">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>+123 456 78910 / 11</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Have a question? call us now</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside><!-- enhanced-text-widget end -->
                    </div>
                </div><!-- ttm-fbar-content-wrapper end -->
            </div>
        </div><!-- ttm-fbar-main-w end -->
        <!-- ttm-topbar-wrapper -->
        <div class="ttm-topbar-wrapper ttm-bgcolor-darkgrey ttm-textcolor-white clearfix">
            <div class="container">
                <div class="ttm-topbar-content">
                    <ul class="top-contact text-left">
                        <li><i class="themifyicon ti-location-pin"></i>234 Triumph, Los Angeles, California, US</li>
                        <li><i class="themifyicon ti-timer"></i>Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>
                    </ul>
                    <div class="topbar-right text-right">
                        <div class="ttm-social-links-wrapper list-inline">
                            <ul class="social-icons">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                        <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor" href="#">GET A APPOINTMENT!</a>
                    </div>
                </div>
            </div>
        </div><!-- ttm-topbar-wrapper end -->
        <!-- ttm-header-wrap -->
        <div class="ttm-header-wrap">
            <!-- ttm-stickable-header-w -->
            <div id="ttm-stickable-header-w" class="ttm-stickable-header-w ttm-bgcolor-white clearfix">
                <div id="site-header-menu" class="site-header-menu">
                    <div class="site-header-menu-inner ttm-stickable-header">
                        <div class="container">
                            <!-- site-branding -->
                            <div class="site-branding">
                                <a class="home-link" href="index.html" title="Delmont" rel="home">
                                    <img id="logo-img" class="img-center" src="images/logo-img.png" alt="logo-img">
                                </a>
                            </div><!-- site-branding end -->
                            <!--site-navigation -->
                            <div id="site-navigation" class="site-navigation">
                                <!-- header-icons -->
                                <div class="ttm-header-icons ">
                                    <span class="ttm-header-icon ttm-header-cart-link">
                                        <a href="#">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span class="number-cart">0</span>
                                        </a>
                                    </span>
                                    <div class="ttm-header-icon ttm-header-search-link">
                                        <a href="#"><i class="ti ti-search"></i></a>
                                        <div class="ttm-search-overlay">
                                            <div class="ttm-search-outer">
                                                <div class="ttm-form-title">Hi, How Can We Help You?</div>
                                                <form method="get" class="ttm-site-searchform" action="#">
                                                    <div class="w-search-form-h">
                                                        <div class="w-search-form-row">
                                                            <div class="w-search-input">
                                                                <input type="search" class="field searchform-s" name="s" placeholder="Type Word Then Enter...">
                                                                <button type="submit">
                                                                    <i class="ti ti-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- header-icons end -->
                                <div class="ttm-menu-toggle">
                                    <input type="checkbox" id="menu-toggle-form" />
                                    <label for="menu-toggle-form" class="ttm-menu-toggle-block">
                                        <span class="toggle-block toggle-blocks-1"></span>
                                        <span class="toggle-block toggle-blocks-2"></span>
                                        <span class="toggle-block toggle-blocks-3"></span>
                                    </label>
                                </div>
                                <nav id="menu" class="menu">
                                    <ul class="dropdown">
                                        <li class="active">
                                            <a href="index.html">Home</a>
                                            <ul>
                                                <li class="active"><a href="index.html">Homepage 1</a></li>
                                                <li><a href="home-2.html">Homepage 2</a></li>
                                                <li><a href="home-3.html">Homepage 3</a></li>
                                                <li>
                                                    <a href="#">Header Styles</a>
                                                    <ul>
                                                        <li class="active"><a href="index.html">Header Classic Info</a></li>
                                                        <li><a target="_blank" href="header-overlay.html">Header Overlay</a></li>
                                                        <li><a target="_blank" href="header-infostack.html">Header Infostack</a></li>
                                                        <li><a target="_blank" href="header-classic.html">Header Classic</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul>
                                                <li><a href="aboutus-1.html">About Us</a></li>
                                                <li><a href="aboutus-2.html">About Us 2</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="contact-us.html">Contact Us</a></li>
                                                <li><a href="contact-us-2.html">Contact Us 2</a></li>
                                                <li><a href="our-team.html">Our Doctors</a></li>
                                                <li>
                                                    <a href="#">Shop</a>
                                                    <ul>
                                                        <li><a href="home-shop.html">Home Shop</a></li>
                                                        <li><a href="shop.html">Default Shop</a></li>
                                                        <li><a href="product-details.html">Single Product Details</a></li>
                                                        <li><a href="cart.html">Cart</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Features</a>
                                                    <ul>
                                                        <li><a href="before-after.html">Before & After</a></li>
                                                        <li><a href="our-events.html">Our Events</a></li>
                                                        <li><a href="book-appointment.html">Book Appointment</a></li>
                                                        <li><a href="team-details.html">Doctor Details</a></li>
                                                        <li><a href="forums.html">bbPress</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="faq.html">FAQs</a></li>
                                                <li><a href="error.html">Error Page</a></li>
                                                <li><a href="element.html">Elements</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Research</a>
                                            <ul>
                                                <li><a href="research-style-1.html">Research Style 1</a></li>
                                                <li><a href="research-style-2.html">Research Style 2</a></li>
                                                <li>
                                                    <a href="#">Project Single</a>
                                                    <ul>
                                                        <li><a href="single-style-1.html">Style One</a></li>
                                                        <li><a href="single-style-2.html">Style Two</a></li>
                                                        <li><a href="single-style-3.html">Style Three</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Services</a>
                                            <ul>
                                                <li><a href="neurology-services.html">Neurology Services</a></li>
                                                <li><a href="cardiology-services.html">Cardiology Services</a></li>
                                                <li><a href="x-ray-rmi-services.html">X-Ray & RMI Services</a></li>
                                                <li><a href="eye-care-services.html">Eye Care Services</a></li>
                                                <li><a href="dental-services.html">Dental Services</a></li>
                                                <li><a href="orthopaedics-services.html">Orthopaedics Services</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog.html">Blog Classic</a></li>
                                                <li><a href="blog-left-image.html">Blog Left Image</a></li>
                                                <li><a href="blog-grid-view.html">Blog Grid View</a></li>
                                                <li><a href="single-blog.html">Blog Single View</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- site-navigation end-->
                        </div>
                    </div>
                </div>
            </div><!-- ttm-stickable-header-w end-->
        </div><!--ttm-header-wrap end -->
        <div class="ttm-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- ttm-info-widget-->
                        <div class="ttm-info-widget">
                            <div class="header-widget">
                                <div class="header-icon">
                                    <i class="fa fa-hospital-o"></i>
                                </div>
                                <div class="header-content">
                                    <h3>Number 1 Hospital</h3>
                                    <p>In United States</p>
                                </div>
                            </div>
                            <div class="header-widget">
                                <div class="header-icon">
                                    <i class="fa fa-user-md"></i>
                                </div>
                                <div class="header-content">
                                    <h3>Personal Cabinet</h3>
                                    <p>Qualified Staff</p>
                                </div>
                            </div>
                            <div class="header-widget">
                                <div class="header-icon">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                                <div class="header-content">
                                    <h3>Get Result Online</h3>
                                    <p>Satisfied Patients</p>
                                </div>
                            </div>
                        </div>
                        <!-- ttm-info-widget end -->
                        <div class="ttm-contact">
                            <span class="icon"><i class="fa fa-phone"></i></span>Toll Free : 1 123 456 78910
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!--header end-->




    
        @RenderBody()


    <!--footer start-->
    <footer class="footer widget-footer clearfix">
        <div class="first-footer ttm-bgcolor-skincolor">
            <div class="container">
                <div class="row">
                    <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <aside class="widget widget-text">
                            <!--featured-icon-box-->
                            <div class="featured-icon-box iconalign-before-heading">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <div class="featured-title">
                                    <h5>+123 456 78910 / 11</h5>
                                    <h4>Have a question? call us now</h4>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </aside>
                    </div>
                    <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <aside class="widget widget-text">
                            <!--featured-icon-box-->
                            <div class="featured-icon-box iconalign-before-heading">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                </div>
                                <div class="featured-title">
                                    <h5>info@domainname.com</h5>
                                    <h4>Need support? Drop us an email</h4>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </aside>
                    </div>
                    <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <aside class="widget widget-text">
                            <!--featured-icon-box-->
                            <div class="featured-icon-box iconalign-before-heading">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                                <div class="featured-title">
                                    <h5>Mon – Sat 07:00 – 21:00</h5>
                                    <h4>We are open on</h4>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="second-footer ttm-textcolor-white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_text clearfix">
                            <h3 class="widget-title">About Delmont</h3>
                            <div class="textwidget widget-text">
                                Our Clinic has grown to provide a world class facility for the clinic advanced restorative dentistry.
                                <br><br>We are among the most qualified implant providers in the AUS with over 30 years of quality training and experience.
                                <br><br>
                                <div class="social-icons social-hover">
                                    <ul class="list-inline">
                                        <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-twitter"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li class="social-gplus"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="Google+"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li class="social-linkedin"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_nav_menu clearfix">
                            <h3 class="widget-title">Quick Links</h3>
                            <ul id="menu-footer-quick-links">
                                <li><a href="index.html">Make Appointments</a></li>
                                <li><a href="services-1.html">Before & After</a></li>
                                <li><a href="about-1.html">Customer Treatments</a></li>
                                <li><a href="single-style-1.html">Our Doctors Team</a></li>
                                <li><a href="blog.html">Departments Services</a></li>
                                <li><a href="our-team.html">About our Clinic</a></li>
                                <li><a href="faq.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                        <div class="widget style2 widget-out-link clearfix">
                            <h3 class="widget-title">Latest News</h3>
                            <ul class="widget-post ttm-recent-post-list">
                                <li>
                                    <a href="single-blog.html"><img src="images/blog/01.jpg" alt="post-img"></a>
                                    <span class="post-date">April 1, 2019</span>
                                    <a href="single-blog.html">How much aspirin to take for stroke</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="images/blog/02.jpg" alt="post-img"></a>
                                    <span class="post-date">April 1, 2019</span>
                                    <a href="single-blog.html">Implant Surgical equipment technology</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="images/blog/03.jpg" alt="post-img"></a>
                                    <span class="post-date">April 05, 2019</span>
                                    <a href="single-blog.html">The Benefits of Middle-Age Fitness</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_nav_menu menu-footer-services-menu clearfix">
                            <h3 class="widget-title">Our Services</h3>
                            <ul id="menu-footer-services-menu" class="menu">
                                <li><a href="#">Surgery</a></li>
                                <li><a href="#">Psychological</a></li>
                                <li><a href="#">Cardiology</a></li>
                                <li><a href="#">Orthopedics</a></li>
                                <li><a href="#">Pediatric</a></li>
                                <li><a href="#">Oncology</a></li>
                                <li><a href="#">Anesthesiology</a></li>
                                <li><a href="#">Dermatology</a></li>
                            </ul>
                        </div>
                        <div class="widget widget-text clearfix">
                            <h3 class="widget-title">Newsletter</h3>
                            <form id="subscribe-form" method="post" action="#" data-mailchimp="true">
                                <div class="ttm_subscribe_form">
                                    <input type="email" name="EMAIL" placeholder="Enter Your Email" required="">
                                    <button class="btn" type="submit"> <i class="fa fa-envelope-o"></i> </button>
                                </div>
                                <div class="subscribe-response"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer-text ttm-textcolor-white">
            <div class="container">
                <div class="row copyright">
                    <div class="col-md-12">
                        <span>Copyright © 2019 Delmont Theme by <a href="https://themetechmount.com/">ThemetechMount</a></span>
                    </div>
                    <div class="col-md-12">
                        <ul id="menu-footer-menu" class="footer-nav-menu">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->
    <!--back-to-top start-->
    <a id="totop" href="#top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!--back-to-top end-->
    </div><!-- page end -->
    <!-- Javascript -->
    <script src="~/Front/js/jquery.min.js"></script>
    <script src="~/Front/js/tether.min.js"></script>
    <script src="~/Front/js/bootstrap.min.js"></script>
    <script src="~/Front/js/jquery.easing.js"></script>
    <script src="~/Front/js/jquery-waypoints.js"></script>
    <script src="~/Front/js/jquery-validate.js"></script>
    <script src="~/Front/js/owl.carousel.js"></script>
    <script src="~/Front/js/jquery.prettyPhoto.js"></script>
    <script src="~/Front/js/numinate.min.js"></script>
    <script src="~/Front/js/jquery.event.move.js"></script>
    <script src="~/Front/js/jquery.twentytwenty.js"></script>
    <script src="~/Front/js/booked-calendar.js"></script>
    <script src="~/Front/js/main.js"></script>
    <!-- Revolution Slider -->
    <script src="~/Front/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Front/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Front/revolution/js/slider.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="~/Front/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Front/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Front/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Front/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Front/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Front/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Front/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Front/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <!-- Javascript end-->
</body>
</html>
